body { 
	background:#000000; 
	color:#000000;
	font-family:Verdana ;
	/**color:white;**/
	font-size:14px;
}
div.grande { 
	width:70%; margin:20px auto; text-align:left;
	border:3px solid #000000; padding:1px;
} 
div.grande h1, div.grande h2 { margin:20px auto; text-align:center; }
/* Formulaire */
form#livredorform { margin:0px auto; }
form#livredorform label { display:inline-block; min-width:15%; text-align:right; margin-right:10px;vertical-align:top }
form#livredorform input[type=text] { width:20% }
form#livredorform textarea { width:80% }

form#livredorform p { line-height:25px; }
form#livredorform p.errChamps { color:red; }
/* Affichage */
.livredor-nom { float:left; }
.livredor-date {float:right }
.livredor-message { margin:5px 30px;clear:both; }
 